{% block pv_recaptcha_widget %}
    {% spaceless %}
        {% if not captcha_invisible and label == false %}
            <p>{{ 'recaptcha.widget-label'|trans({}, "PvRecaptchaBundle") }}</p>
        {% endif %}

        {% if captcha_invisible %}
            <div class="g-recaptcha"
                 data-sitekey="{{ public_key }}"
                 data-size="invisible"
                 data-callback="formSubmit">
            </div>

            <script type="text/javascript">
                $('#{{ form_id }}').submit(function (event) {
                    event.preventDefault();
                    grecaptcha.reset();
                    grecaptcha.execute();
                });

                function formSubmit(response) {

                    document.getElementById('{{ form_id }}').submit();

                }
            </script>
        {% else %}
            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="{{ public_key }}"></div>
            <script type="text/javascript">
                    function recaptchaCallback(response){
                        console.log('dd')
                        $('#submitBtn').removeAttr('disabled');
                    }
            </script>
        {% endif %}

        <script src="{{ js_api_url }}?lang={{ lang }}" async defer></script>
    {% endspaceless %}
{% endblock pv_recaptcha_widget %}
